.App {
  max-width: 800px;
  margin: 0 auto;
}

.App__Title {
  text-align: center;
}

.App__Nav {
  border-top: 10px solid #eaeaea;
  border-bottom: 10px solid #eaeaea;
  
  display: flex;
  justify-content: center;
}

.App__NavLink,
.App__NavLink:link,
.App__NavLink:active,
.App__NavLink:visited,
.App__NavLink:hover {
  padding: 5px 10px;
  text-decoration: none;
  color: purple;
}

.App__NavLink:hover {
  text-decoration: underline;
}